# ğŸ¥Pandas_BASICğŸ¥

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html

- 1ì°¨ì›: Serires
- 2ì°¨ì›: DataFrame
- 3ì°¨ì›: Panal

## 1. ë°ì´í„° ê¸°ë³¸ ì •ë³´ ì•Œì•„ë³´ê¸°

In [2]:
import pandas as pd
import numpy as np


df = pd.read_csv('netflix_titles.csv')
df.head()

# pandasë¥¼ ì‚¬ìš©í•´ csvë¥¼ ì½ëŠ” ë©”ì†Œë“œ ê·¸ê±¸ ë°ì´í„° í”„ë ˆì„ì— ë„£ëŠ”ë‹¤
# ()ì•ˆë¶™ëŠ” ê±´ ì†ì„±/ ë¶™ëŠ” ê±´ í•¨ìˆ˜
# .head() í•¨ìˆ˜ëŠ” ë¶ˆëŸ¬ì˜¨ ë°ì´í„°ì˜ ìƒìœ„ 5ê°œì˜ í–‰ì„ ì¶œë ¥
# .tail()ì˜ ê²½ìš° í•˜ìœ„ 5ê°œì˜ í–‰ì„ ì¶œë ¥

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
object
int64
category
datatime

In [ ]:
# ì†ì„±
df.shape           # .shape ì†ì„±ì„ ì´ìš©í•˜ì—¬ ë°ì´í„° dfì˜ (í–‰, ì—´) í¬ê¸°ë¥¼ ì¶œë ¥
df.index           # .index ì†ì„±ì„ ì´ìš©í•˜ì—¬ ë°ì´í„° dfì˜ ì¸ë±ìŠ¤ë¥¼ ëª¨ë‘ ì¶œë ¥
df.columns         # .columns ì†ì„±ì„ ì´ìš©í•˜ì—¬ ë°ì´í„° dfì˜ ì»¬ëŸ¼ëª…ì„ ëª¨ë‘ ì¶œë ¥

# í•¨ìˆ˜ ë©”ì„œë“œ
df.info()          # .info() í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ì—¬ ë°ì´í„° dfì˜ ì •ë³´ë¥¼ ì¶œë ¥
df.corr()          # .corr() í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ì—¬ ì»¬ëŸ¼ê°„ì˜ ìˆ˜ì¹˜ì  ìƒê´€ê´€ê³„ë¥¼ í™•ì¸í•  ë•Œ ì‚¬ìš©
df.value_counts() # ë°ì´í„°ì˜ ìˆ˜ ì¶œë ¥

# ìœ ì¼í•œ ê°’ ì°¾ëŠ” ë©”ì„œë“œ
df.unique()       # ë°ì´í„°ì— ê³ ìœ ê°’ë“¤ì´ ì–´ë– í•œ ì¢…ë¥˜ë“¤ì´ ìˆëŠ”ì§€ ì•Œê³  ì‹¶ì„ë•Œ ì‚¬ìš©/ ìˆ«ìí˜• ì»¬ëŸ¼ì´ ì•„ë‹ˆë¼ ë¬¸ìì—´, ì¹´í…Œê³ ë¦¬í˜• ë°ì´í„°ì— ì“´ë‹¤
df.nunique()      #  ë°ì´í„°ì— ê³ ìœ ê°’ë“¤ì˜ ê°œìˆ˜ë¥¼ ì¶œë ¥


# ì»¬ëŸ¼ ë©”ì„œë“œ
df['rating'].unique() # 'rating' ì»¬ëŸ¼ ë‚´ì— ì¡´ì¬í•˜ëŠ” ê°ê°ì˜ ê°’ì˜ ì¢…ë¥˜ ì¶œë ¥
df['rating'].value_counts()  # value_counts()ëŠ” 'rating'ì—´ ê°’ì˜ ë°ì´í„° ìˆ˜ ì¶œë ¥/ ê¸°ë³¸ì ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ/ ascending=True ì˜µì…˜/ ë¹„ìœ¨í‘œì‹œ  normalize=True ì˜µì…˜

# ì •ë ¬ ë©”ì„œë“œ
df.sort_index() # index ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬/ ê¸°ë³¸ì ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ/ ascending=False ì˜µì…˜/ .head(5)ì˜µì…˜ #ìœ„ì— ë‹¤ì„¯ê°œë§Œ ì¶œë ¥

df.sort_values() # ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬/ ê¸°ë³¸ì ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ
df.sort_values(by='rating').head() # byì— ê¸°ì¤€ì´ ë˜ëŠ” í–‰ì„ ì„¤ì •
df.sort_values(by='rating', ascending=False).head() # 2ê°œì´ìƒì˜ ì»¬ëŸ¼ ì„¤ì • 
df.sort_values(by=['rating', 'type']).head() #ë¨¼ì € ratingê¸°ì¤€ ë™ë¥ ì´ ìƒê²¼ì„ ë•Œ type ê¸°ì¤€
df.sort_values(by=['rating', 'type'], ascending=[True,False]).head() #ratingì€ ì˜¤ë¦„ì°¨ìˆœ, typeì€ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

## 2. ë°ì´í„° ì»¬ëŸ¼ ê¸°ë³¸ ì •ë³´ ì•Œì•„ë³´ê¸°

In [ ]:
# indexing, slicing, ì¡°ê±´í•„í„°ë§

# indexing
df.loc[5, 'rating'] #dfì˜ 5ë²ˆì§¸ row, rating column 

# fancy indexing
df.loc[2:5, ['rating', 'type', 'listed_in']] #2~5 row, 3ê°œì˜ column 

# slicing
df.loc[:5, ['rating':'listed_in']] #ì²˜ìŒë¶€í„° 5ë²ˆì§¸ rowê¹Œì§€, ratingë¶€í„° listed_in columnê¹Œì§€

# ì¡°ê±´í•„í„° boolean series ì¡°ê±´ ì •ì˜
condition = df['release_year'] == '2021' # dfì˜ release_yearcolumnì´ 2021ì¸ ë°ì´í„°
condition 

df[condition].head() # ì¡°ê±´ ì‚¬ìš©
df.loc[condition].head() # ê°™ì€ ê²°ê³¼ê°€ ë‚˜ì˜¤ê² ì§€ë§Œ ì´ê±° ì‚¬ìš©í•˜ëŠ”ê²Œ ë” ì¢‹ìŒ ê°’ ëŒ€ì…ì‹œ issue ì•ˆìƒê¹€

# ë‹¤ì¤‘ì¡°ê±´ 
condition1 = df['release_year'] == '2021'
condition2 = df['rating'] == 'PG-13'
df.loc[condition1 & condition2] # and 
df.loc[condition1 | condition2] # or

# iloc
df.loc[5, 'rating']
di.iloc[5, 8] # ìˆ«ìë§Œ ê°€ëŠ¥, fancy indexing ê°€ëŠ¥, slicing ê°€ëŠ¥

## 3. í†µê³„

In [ ]:
# ìˆ«ìí˜• ì»¬ëŸ¼ count, mean, std, min, max (numericí•œ DataFrame ê¸°ì¤€)
# ë¬¸ìí˜• ì»¬ëŸ¼ count, unique, top, freq

df.describe() # .describe() í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ì—¬ ìš”ì•½ í†µê²ŒëŸ‰ì„ ì¶œë ¥/ ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ì— ëŒ€í•œ í†µê³„í‘œë¥¼ ì¶œë ¥

df.count() # DataFrame ì „ì²´ì˜ ê°œìˆ˜ë¥¼ êµ¬í•˜ëŠ” ê²½ìš°
df['rating'].count() # ì»¬ëŸ¼ì˜ ë°ì´í„° ê°œìˆ˜ë¥¼ êµ¬í•˜ëŠ” ê²½ìš°

df.mean() # DataFrameì˜ í‰ê· ì„ êµ¬í•˜ëŠ” ê²½ìš°
df['rating'].mean() # ì»¬ëŸ¼ì˜ ë°ì´í„° í‰ê· ì„ êµ¬í•˜ëŠ” ê²½ìš°

condition = (condition1 = df['release_year'] == '2021') #ì¡°ê±´í•„í„°ë§
df.oc[condition, 'rating'].mean # ì¡°ê±´í‰ê· 

df.mean(skipna=False) # ê¸°ìˆ í†µê³„ í•¨ìˆ˜ì—ì„œ skipna=Trueê°€ ê¸°ë³¸ ì„¤ì • ì¦‰ nanê°’ì´ ìˆìœ¼ë©´ ê±´ë„ˆë›°ê³  ê³„ì‚°í•´ë¼/ Falseë©´ nan ê°’ì´ í•˜ë‚˜ë¼ë„ ìˆìœ¼ë©´ ê³„ì‚° ë¶ˆê°€
# ë°ì´í„°ì˜ ë¬´ê²°ì„±ì„ ë³´ëŠ” í†µê³„ê°’ ì˜µì…˜ì„

In [ ]:
pd.Series([1, 2, 3, 4, 5]).median() # ë°ì´í„°ì˜ ì¤‘ì•™ê°’ì„ ì¶œë ¥/ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ ì¤‘ì•™ì— ìœ„ì¹˜í•œ ê°’

# meanê³¼ medianì€ ì°¨ì´ê°€ ìˆë‹¤
# ì¤‘ìš”!! ì´ìƒì¹˜ê°€ ì¡´ì¬í•˜ëŠ” ê²½ìš° mean < median

df.sum()     # ë°ì´í„°ì˜ í•©ê³„
df['rating'].sum() # rating columnì— ëŒ€í•œ í•©ê³„ ì¶œë ¥
df['rating'].cumsum() # ëˆ„ì í•©
df['rating'].cumprod() # ëˆ„ì ê³±(ì˜ ì‚¬ìš©ì€ ì•ˆ í•¨)

df[''].var() # ë¶„ì‚°(ê°ê°ì˜ ë°ì´í„°ê°€ í‰ê· ìœ¼ë¡œë¶€í„° ì–¼ë§ˆë‚˜ ë–¨ì–´ì ¸ìˆëŠ”ì§€ êµ¬í•˜ëŠ” ê²ƒ)
df[''].std() # í‘œì¤€í¸ì°¨(ë¶„ì‚°ì— ë£¨íŠ¸ ì”Œìš´ê±°)

df['rating'].min() # ìµœì†Œê°’
df['rating'].max() # ìµœëŒ€ê°’

df['rating'].agg(['min', 'max', 'count', 'mean']) # aggregation í†µí•© í†µê³„ ì ìš©
df[['rating', 'release_year']].agg(['min', 'max', 'count', 'mean'])
df[['rating', 'release_year']].agg(['min', np.max, np.median, 'count', 'mean']) #numpyë„ ê°€ëŠ¥

In [ ]:
df['rating'].quantile(0.1)   # ì£¼ì–´ì§„ ë°ì´í„°ë¥¼ ë™ë“±í•œ í¬ê¸°ë¡œ ë¶„í• í•˜ëŠ” ì§€ì / 10%ëŠ” 0.1

df['rating'].mode()   # ìµœë¹ˆê°’ ì¦‰ ê°€ì¥ ë§ì´ ì¶œí˜„í•œ ë°ì´í„°ë¥¼ ì˜ë¯¸

df.corr # coulmnë³„ ìƒê´€ê´€ê³„ í™•ì¸/ -1~1 ì‚¬ì´ì˜ ë²”ìœ„/ -1ì— ê°€ê¹Œìš¸ ìˆ˜ë¡ ë°˜ë¹„ë¡€, 1ì— ê°€ê¹Œìš¸ìˆ˜ë¡ ì •ë¹„ë¡€
df.corr()['rating'] # íŠ¹ì • ì»¬ëŸ¼ì— ëŒ€í•œ ìƒê´€ê´€ê³„ í™•ì¸

## 4. ê²°ì¸¡ì¹˜

- ê²°ì¸¡ì¹˜: ë¹„ì–´ìˆëŠ” ë°ì´í„°
- ê²°ì¸¡ ë°ì´í„° í™•ì¸/ ê²°ì¸¡ì¹˜ê°€ ì•„ë‹Œ ë°ì´í„° í™•ì¸/ ê²°ì¸¡ ë°ì´í„° ì±„ìš°ê¸°, ì œê±°í•˜ê¸°(ë¶„ì„í›„ ì •í•´ì•¼í•¨)

In [ ]:
df_copy = df.copy()  # copyë¡œ ë³µì‚¬

id(df), id(df_copy) # idê°’ì„ í™•ì¸í•˜ë©´ ë©”ëª¨ë¦¬ ì£¼ì†Œê°€ ë‹¤ë¦„ì„ í™•ì¸ ê°€ëŠ¥

In [ ]:
df.isnull()
df.isnull().sum() #DF ì „ì²´ ê²°ì¸¡ ë°ì´í„°ì˜ ê°¯ìˆ˜ë¥¼ í•©ì‚°í•˜ê¸° ìœ„í•´ì„  sumí•¨ìˆ˜ ë‘ ë²ˆ

df.isna().sum().sum() # isnullê³¼ ì™„ì „ ê°™ë‹¤. ë„íë¨¼íŠ¸ë„ ê°™ìŒ

df.notnull().sum() # ê²°ì¸¡ì¹˜ê°€ ì•„ë‹Œ ë°ì´í„° í™•ì¸

df.loc[df['rating'].isnull()] # ê²°ì¸¡ ë°ì´í„° í•„í„°ë§/ isnull()í•¨ìˆ˜ê°€ ê²°ì¸¡ ë°ì´í„°ë¥¼ ì°¾ëŠ” boolean index/ ratingì—ì„œ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë§Œ ê±¸ëŸ¬ì„œ ë‚˜ì˜´

In [ ]:
df['rating'].fillna(100) # .fillnaë¥¼ í™œìš©í•˜ë©´ ê²°ì¸¡ì¹˜ì— ëŒ€í•˜ì—¬ ì¼ê´„ì ìœ¼ë¡œ ê°’ì„ ì±„ìš¸ ìˆ˜ ìˆë‹¤.

# fillnaëŠ” ìœ„ ë°©ì‹ìœ¼ë¡œ ì“°ë©´ ì±„ì›Œì§„ ê²ƒì²˜ëŸ¼ ë³´ì´ì§€ë§Œ ì‹¤ì œ ë°ì´í„°ì—ëŠ” ì±„ì›Œì ¸ìˆì§€ ì•Šë‹¤. ìƒˆë¡œ df1ì— ëŒ€ì…í•´ì¤˜ì•¼í•¨.
# ì‹¤ì œ ë°ì´í„°ì—ë„ ì±„ì›Œì§„ë‹¤. ì£¼ì˜í•  ê²ƒ!

# category ë°ì´í„°ë„ ì±„ì›Œì¤„ ìˆ˜ ìˆë‹¤

release_year_mean = df['release_year'].mean()
df['release_year'].fillna(release_year_mean).head()  # í‰ê· ìœ¼ë¡œ ì±„ìš°ê¸°
df['release_year'].fillna(df1['release_year'].mean()).head()  # ìœ„ë‘ ê°™ì€ ë§ì„

In [ ]:
df.dropna() # 1ê°œë¼ë„ nanê°’ì´ ìˆìœ¼ë©´ ê·¸ í–‰ ì „ì²´ë¥¼ ë‚ ë ¤ë²„ë¦¬ê¸° 
df.dropna(how='any') # ê¸°ë³¸
df.dropna(how='all') # ëª¨ë‘ nanê°’ ì¡´ì¬ì‹œ drop

## 5. ì „ì²˜ë¦¬

In [ ]:
df['hi'] = True # hië¼ëŠ” columnìƒì„± ë° ê°’ Trueë¡œ ì±„ìš°ê¸°, ë§¨ ë§ˆì§€ë§‰ì— 
df.insert(2, 'hi', True) # index 2ì— hi ì»¬ëŸ¼ ìƒì„± ë° ê°’ True ì±„ìš°ê¸° (ctrl+space í•˜ë©´ ìˆœì„œ ë‚˜ì˜´)

df.drop(1) # row ì‚­ì œ, indexë¥¼ ì§€ì •í•˜ì—¬ ì‚­ì œ
df.drop(np.arange(10)) # ë²”ìœ„ ì§€ì •í•´ì„œ ì‚­ì œ
df.drop([1,3,5,7,9]) # fancy indexing ì‚¬ìš©í•˜ì—¬ ì‚­ì œ/ ì‚­ì œí•˜ê³ ìí•˜ëŠ” í–‰ì˜ ì¸ë±ìŠ¤ ë²ˆí˜¸ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ë§Œë“¤ì–´ì„œ
# ì´ê±¸ ì›ë³¸ì— ì ìš©í•˜ë ¤ë©´ 
df = df.drop([1,3,5,7,9]) 

df.drop('rating', axis=1) # axis =1 ìˆì–´ì•¼ column ì‚­ì œ
df.drop(['rating', 'release_year'], axis=1) # ë‹¤ìˆ˜ì˜  column ì‚­ì œ
# ì´ê±¸ ì›ë³¸ì— ì ìš©í•˜ë ¤ë©´ 
df = df.drop(['rating', 'release_year'], axis=1, inplace=True) #inplace=True ëŠ” ì›ë³¸ì— ë°”ë¡œ ë°˜ì˜

In [ ]:
# ì»¬ëŸ¼ê°„ ì—°ì‚°

df['family'] = df['sibsp'] + df['parch'] # int
df['hi'] = df['rating'] + '-' + df['release_year'] # object/ hië¼ëŠ” ìƒˆë¡œìš´ ì»¬ëŸ¼ì— ë¬¸ìì—´ í•©

In [ ]:
# íƒ€ì… ë³€í™˜(astype)

df['show_id'].astype('int32') #.head() ì˜µì…˜ìœ¼ë¡œ í™•ì¸
df['show_id'].astype('str')
# ì›ë³¸ì— ì ìš©
df['show_id'] = df['show_id'].astype('int32')

In [20]:
df['rating'].value_counts()

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
UR             3
NC-17          3
74 min         1
66 min         1
84 min         1
Name: rating, dtype: int64

In [21]:
df['rating'].dtype

dtype('O')

In [22]:
df['rating'].astype('category').head() # categofyë¡œ ë³€í™˜í•˜ëŠ” ì´ìœ : ë©”ëª¨ë¦¬ ì„¸ì´ë¸Œ, í¸ë¦¬,

0    PG-13
1    TV-MA
2    TV-MA
3    TV-MA
4    TV-MA
Name: rating, dtype: category
Categories (17, object): ['66 min', '74 min', '84 min', 'G', ..., 'TV-Y', 'TV-Y7', 'TV-Y7-FV', 'UR']

In [23]:
df['rating'] = df['rating'].astype('category')

In [24]:
df['rating'].dtype

CategoricalDtype(categories=['66 min', '74 min', '84 min', 'G', 'NC-17', 'NR', 'PG',
                  'PG-13', 'R', 'TV-14', 'TV-G', 'TV-MA', 'TV-PG', 'TV-Y',
                  'TV-Y7', 'TV-Y7-FV', 'UR'],
, ordered=False)

In [25]:
df['rating'].cat # ì¸ì½”ë”© ì‘ì—…í• ë•Œ ì‚¬ìš©(ë¬¸ì->ìˆ«ì)

In [34]:
# datetime - ë‚ ì§œ, ì‹œê°„

dates = pd.date_range('20220312', periods=df.shape[0], freq='24H') # ì‹œê²Œì—´ ë°ì´í„° ë§Œë“¤ê¸°
dates

DatetimeIndex(['2022-03-12', '2022-03-13', '2022-03-14', '2022-03-15',
               '2022-03-16', '2022-03-17', '2022-03-18', '2022-03-19',
               '2022-03-20', '2022-03-21',
               ...
               '2046-04-12', '2046-04-13', '2046-04-14', '2046-04-15',
               '2046-04-16', '2046-04-17', '2046-04-18', '2046-04-19',
               '2046-04-20', '2046-04-21'],
              dtype='datetime64[ns]', length=8807, freq='24H')

In [35]:
df['date'] = dates #date columnìƒì„±í•´ì„œ ê°’ ë„£ê¸°
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,category (category (category (PG-13))),90 min,Documentaries,"As her father nears the end of his life, filmm...",2022-03-12
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,category (category (category (TV-MA))),2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2022-03-13
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,category (category (category (TV-MA))),1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2022-03-14
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,category (category (category (TV-MA))),1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2022-03-15
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,category (category (category (TV-MA))),2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2022-03-16

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   category
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  date          8807 non-null   datetime64[ns]
dtypes: category(1), datetime64[ns](1), int64(1), object(10)
memory usage: 835.1+ KB

In [37]:
df['date'].dt.year #ë…„ë„

#ìì£¼ ì“°ì´ëŠ” 
# .year
# .month
# .day
# .hour
# .minute
# .second
# .week
# .quarter

0       2022
1       2022
2       2022
3       2022
4       2022
        ...
8802    2046
8803    2046
8804    2046
8805    2046
8806    2046
Name: date, Length: 8807, dtype: int64

In [38]:
df['date'].dt.dayofweek # ì›”ìš”ì¼:0, ì¼ìš”ì¼:6

0       5
1       6
2       0
3       1
4       2
       ..
8802    1
8803    2
8804    3
8805    4
8806    5
Name: date, Length: 8807, dtype: int64

In [ ]:
pd.to_datetime(df['']) # object dtypeì„ dt dtypeìœ¼ë¡œ ë³€í™˜
pd.to_numeric(df['']) # ìˆ«ìí˜•ìœ¼ë¡œ ë³€í™˜

pd.to_numeric(df[''], errors='coerce') # ë³€í™˜ë¶ˆê°€ ê°’ì„ nan ê°’ìœ¼ë¡œ ì¹˜í™˜
pd.to_numeric(df[''], errors='coerce').fillna(0) # ì œê±°

In [ ]:
# ì—°ì†ëœ ìˆ˜ì¹˜ë¥¼ êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì¹´í…Œê³ ë¦¬í™” í•˜ê¸°

bins = [0, 10, 20, df['release_year'].max()] # ë‚˜ëˆŒ êµ¬ê°„ ì •í•˜ê¸° 
pd.cut(df['release_year'], bins, right=False) #right=FalseëŠ” ì´ìƒì´í•˜ ì¡°ì ˆí•˜ëŠ” ê±°
labels = ['ì²˜ìŒ', 'ì‹œì‘', 'ë'] # labelsëŠ” binsì˜ ê°œìˆ˜ë³´ë‹¤ 1ê°œê°€ ì ì–´ì•¼í•œë‹¤
pd.cut(df['release_year'], bins, labels=labels, right=False) #label ë„£ì–´ì£¼ê¸°
pd.cut(df['release_year'], bins, labels=labels, right=False).value_counts() # í™•ì¸

df['release_year'] = pd.cut(df['release_year'], bins=10) #ì´ë ‡ê²Œ ê·¸ëƒ¥ êµ¬ê°„ë§Œ ë‚˜ëˆ ì„œ ì •í•´ì¤˜ë„ ok

# ë™ì¼í•œ ë¶„í¬ë¥¼ ê°–ë„ë¡ êµ¬ê°„ ë¶„í• , ê°¯ìˆ˜ê°€ ë™ì¼í•˜ê²Œ ë¶„í¬ëœê±°ì§€ ê°„ê²©ì€ ì¼ì •í•˜ì§€ ì•Šì„ ìˆ˜ ìˆë‹¤.

df['release_year_qcut'] = pd.qcut(df['release_year'], bins=10) # ìƒˆë¡œìš´ ì»¬ëŸ¼ ì§€ì •í•´ì£¼ê¸°
df['release_year_qcut'].value_counts() 
qcut_bins = [0, 0.2, 0.8, 1] # ë²”ìœ„ëŠ” 0~1ì‚¬ì´
qcut_labels = ['ì²˜ìŒ', 'ì‹œì‘', 'ë'] #ë¼ë²¨ì€ ì—­ì‹œ 1ê°œ ì ê²Œ
pd.qcut(df['release_year'], qcut_bins).value_counts() #í™•ì¸

## 6. ê³ ê¸‰ê¸°ëŠ¥

### 1) apply

In [10]:
df = pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [13]:
df['rating'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Name: rating, Length: 8807, dtype: bool

In [14]:
# apply() í•¨ìˆ˜ ì ìš©

df[df['rating'].isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5989,s5990,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",NaN,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...
6827,s6828,TV Show,Gargantia on the Verdurous Planet,NaN,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,"December 1, 2016",2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."
7312,s7313,TV Show,Little Lunch,NaN,"Flynn Curry, Olivia Deeble, Madison Lu, OisÃ­n ...",Australia,"February 1, 2018",2015,NaN,1 Season,"Kids' TV, TV Comedies","Adopting a child's perspective, this show take..."
7537,s7538,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."

In [16]:
df = df[df['rating'].notna()]
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [17]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [31]:
# ë“±ê¸‰ ì°¾ì•„ì„œ replacing

rating_replacements = {
    5541: 'TV-MA',
    5794: 'R',
    5813: 'R' }

for id, rate in rating_replacements.items():
    df.iloc[id, 3] = rate

In [32]:
df['rating'].unique()

array(['R'], dtype=object)

In [ ]:
# def í•¨ìˆ˜ì‚¬ìš©í•˜ê¸°

In [11]:
# nullê°’ì„ ì§€ì›Œì£¼ëŠ” ì „ì²˜ë¦¬ë¥¼ í•˜ì§€ ì•Šìœ¼ë©´ 
# AttributeError: 'float' object has no attribute 'split' ì—ëŸ¬ê°€ ëœ¬ë‹¤
# ë¶„ëª… infoë¥¼ ì°ì—ˆì„ ë•Œ floatí˜•ì´ ì•„ë‹ˆë¼ objectë¡œ ë‚˜ì˜¤ëŠ”ë° ì™œê·¸ëŸ°ê°€ í–ˆë”ë‹ˆ nullê°’ì„ ê·¸ëŒ€ë¡œ ë‘” ì±„ë¡œ í•´ì„œ ê·¸ë ‡ë‹¤!
# ì „ì²˜ë¦¬ í•„ìˆ˜

df = df[df['date_added'].notna()]

In [12]:
# lambda í•¨ìˆ˜ 

df['year_added'] = df['date_added'].apply(lambda x:x.split(" ")[-1])
df['year_added'].head()

0    2021
1    2021
2    2021
3    2021
4    2021
Name: year_added, dtype: object

In [13]:
df['month_added'] = df['date_added'].apply(lambda x:x.split(" ")[0])
df['month_added'].head()

0    September
1    September
2    September
3    September
4    September
Name: month_added, dtype: object

In [ ]:
df.head()

In [18]:
netflix_date = df[['date_added']].dropna()
netflix_date

              date_added
0     September 25, 2021
1     September 24, 2021
2     September 24, 2021
3     September 24, 2021
4     September 24, 2021
...                  ...
8802   November 20, 2019
8803        July 1, 2019
8804    November 1, 2019
8805    January 11, 2020
8806       March 2, 2019

[8797 rows x 1 columns]

In [26]:
netflix_date['year'] = df['year'] = df['date_added'].apply(lambda x : x.split(', ')[-1])
netflix_date['month'] = df['month'] = df['date_added'].apply(lambda x : x.lstrip().split(' ')[0])

In [27]:
df['year_added'] = df['date_added'].apply(lambda x : x.split(', ')[-1]).astype('int')
df['month_added'] = df['date_added'].apply(lambda x : x.lstrip().split(' ')[0])

In [30]:
netflix_date.head()

           date_added  year      month
0  September 25, 2021  2021  September
1  September 24, 2021  2021  September
2  September 24, 2021  2021  September
3  September 24, 2021  2021  September
4  September 24, 2021  2021  September

In [31]:
df.head()

           date_added  year      month  year_added month_added
0  September 25, 2021  2021  September        2021   September
1  September 24, 2021  2021  September        2021   September
2  September 24, 2021  2021  September        2021   September
3  September 24, 2021  2021  September        2021   September
4  September 24, 2021  2021  September        2021   September

### 2) groupby

In [ ]:
# groupby()
# ë°ì´í„°ë¥¼ íŠ¹ì • ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í•‘í•  ë•Œ í™œìš©. ì—‘ì…€ì˜ í”¼ë´‡í…Œì´ë¸”ê³¼ ìœ ì‚¬
# ê¸°ì¤€ ì»¬ëŸ¼ì„ ì¤‘ì‹¬ìœ¼ë¡œ í†µê³„ë¥¼ ë³´ëŠ” ê²ƒ
# ë°˜ë“œì‹œ aggregateí•˜ëŠ” í†µê³„í•¨ìˆ˜ì™€ ì¼ë°˜ì ìœ¼ë¡œ ê°™ì´ ì ìš©

df.groupby('column').mean()
df.groupby(['column', 'column1']).mean() # 2ê°œ ì´ìƒì˜ ì»¬ë¦„ìœ¼ë¡œ ê·¸ë£¹í•  ë•Œ ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ì„œ ì§€ì •
df.groupby(['column', 'column1']).['column2'].mean() # column2ì˜ ê²°ê³¼ë§Œ ë„ì¶œí•˜ê³  ì‹¶ë‹¤ë©´ ë‹¨, seriesë¡œ ì¶œë ¥
df.groupby(['column', 'column1']).[['column2']].mean() # dfë¡œ ì¶œë ¥í•˜ê³  ì‹¶ì„ ë• []ì¶”ê°€
pd.DataFrame(df.groupby(['column', 'column1']).['column2'].mean()) # DFë¡œ ì¶œë ¥

df.groupby(['column', 'column1']).['column2'].mean().reset_index() # ê·¸ë£¹í•‘ëœ ë°ì´í„°í”„ë ˆì„ì˜ ì¸ë±ìŠ¤ ì´ˆê¸°í™”
df.groupby(['column', 'column1']).[['column2', 'column3']].mean() # ë‹¤ì¤‘ ì»¬ëŸ¼ì— ëŒ€í•œ ê²°ê³¼ ë„ì¶œ, ë¬´ì¡°ê±´ fancy indexingìœ¼ë¡œ ê°€ì ¸ì™€ì•¼í•¨

df.groupby(['column', 'column1']).[['column2', 'column3']].agg(['mean', 'sum']) # ë‹¤ì¤‘ í†µê³„ í•¨ìˆ˜ ì ìš©, numpyë„ ì ìš© ê°€ëŠ¥

In [ ]:
# pivot_table()
# groupby()ì™€ ë™ì‘ì´ ìœ ì‚¬í•˜ë‹¤
# index, columns, valuesë¥¼ ì§€ì •í•˜ì—¬ í”¼ë²—í•œë‹¤
# groupbyëŠ” ì¸ë±ìŠ¤ë¡œ pivot_tableë§Œë“œëŠ” ê²ƒ, pivot_tableì€ ì¸ë±ìŠ¤ë¥¼ êº¼ë‚´ì„œ í–‰ê³¼ ì—´ë¡œ í¼ì¹  ìˆ˜ ìˆë‹¤ëŠ” ê²Œ ê°€ì¥ í° ì°¨ì´ì 

df.pivot_table(index='column', values='column1') # indexì— ê·¸ë£¹ì„ í‘œê¸°
df.pivot_table(columns='column', values='column1') # columnsì— ê·¸ë£¹ì„ í‘œê¸°

df.pivot_table(index=['column', 'column2'], values='column1') # ë‹¤ì¤‘ ê·¸ë£¹ì— ëŒ€í•œ ë‹¨ì¼ ì»¬ëŸ¼ ê²°ê³¼

df.pivot_table(index='column', columns='column1', values='column2') # ìƒë‹¨ì—” 1, ì¸ë±ìŠ¤ë¡œëŠ” 0, ê¸°ë³¸ ê°’ìœ¼ë¡œëŠ” í‰ê· 
df.pivot_table(index='column', columns='column1', values='column2', aggfunc=['','']) # ë‹¤ì¤‘ í†µê³„í•¨ìˆ˜ ì ìš©

### 7. ë°ì´í„° ë³‘í•©

In [ ]:
# concat() : ë‹¨ìˆœí•˜ê²Œ ì§€ì •í•œ DFì„ ì´ì–´ì„œ ì—°ê²°

pd.concat([df, df1]) # ê¸°ë³¸ ê°’ì¸ axis=0 ì§€ì •, í–‰ ë°©í–¥ìœ¼ë¡œ ì—°ê²°(ìœ„ì•„ë˜) ë˜í•œ ê°™ì€ columnì„ ì•Œì•„ì„œ ì°¾ì•„ì„œ ë°ì´í„°ë¥¼ ì—°ê²°
pd.concat([df, df1]).iloc[index:index1] # index ë³´ê¸°
df2 = pd.concat([df, df1], ignore_index=True) #index ë¬´ì‹œí•˜ê³  ì—°ê²°
pd.concat([df, df1], axis=1)  # ì—´ ë°©í–¥ìœ¼ë¡œ ì—°ê²°(index ê¸°ì¤€)

In [3]:
# merge() : ì„œë¡œ ë‹¤ë¥¸ êµ¬ì„±ì˜ DFì´ì§€ë§Œ, ê³µí†µëœ keyê°’(ì»¬ëŸ¼)ì„ ê°€ì§€ê³  ìˆë‹¤ë©´ ë³‘í•© ê°€ëŠ¥!
# ë¬´ì¡°ê±´ 2ê°œë§Œ ë³‘í•© ê°€ëŠ¥

df1 = pd.DataFrame({
    'ê³ ê°ëª…':['ë°•ì„¸ë¦¬', 'ì´ëŒ€í˜¸', 'ì†í¥ë¯¼', 'ê¹€ì—°ì•„', 'ë§ˆì´í´ì¡°ë˜'],
    'ìƒë…„ì›”ì¼': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    'ì„±ë³„': ['ì—¬ì', 'ë‚¨ì', 'ë‚¨ì', 'ì—¬ì', 'ë‚¨ì']
})
df1

     ê³ ê°ëª…        ìƒë…„ì›”ì¼  ì„±ë³„
0    ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì
1    ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì
2    ì†í¥ë¯¼  1993-06-12  ë‚¨ì
3    ê¹€ì—°ì•„  1988-10-16  ì—¬ì
4  ë§ˆì´í´ì¡°ë˜  1970-03-03  ë‚¨ì

In [5]:
df2 = pd.DataFrame({
    'ê³ ê°ëª…':['ê¹€ì—°ì•„', 'ë°•ì„¸ë¦¬', 'ì†í¥ë¯¼', 'ì´ëŒ€í˜¸', 'íƒ€ì´ê±°ìš°ì¦ˆ'],
    'ì—°ë´‰': ['2000ì›', '3000ì›', '1500ì›', '2500ì›', '3500ì›']
})
df2

     ê³ ê°ëª…     ì—°ë´‰
0    ê¹€ì—°ì•„  2000ì›
1    ë°•ì„¸ë¦¬  3000ì›
2    ì†í¥ë¯¼  1500ì›
3    ì´ëŒ€í˜¸  2500ì›
4  íƒ€ì´ê±°ìš°ì¦ˆ  3500ì›

In [6]:
pd.merge(df1, df2) # inner merge êµì§‘í•©ì¤‘ì‹¬

   ê³ ê°ëª…        ìƒë…„ì›”ì¼  ì„±ë³„     ì—°ë´‰
0  ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì  3000ì›
1  ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì  2500ì›
2  ì†í¥ë¯¼  1993-06-12  ë‚¨ì  1500ì›
3  ê¹€ì—°ì•„  1988-10-16  ì—¬ì  2000ì›

In [10]:
pd.merge(df1, df2, how= 'inner')

   ê³ ê°ëª…        ìƒë…„ì›”ì¼  ì„±ë³„     ì—°ë´‰
0  ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì  3000ì›
1  ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì  2500ì›
2  ì†í¥ë¯¼  1993-06-12  ë‚¨ì  1500ì›
3  ê¹€ì—°ì•„  1988-10-16  ì—¬ì  2000ì›

In [7]:
# ë³‘í•©í•˜ëŠ” ë°©ë²• 4ê°€ì§€
# how: {left, right, outer, inner}

pd.merge(df1, df2, how= 'left') # df1ì„ ê¸°ì¤€ìœ¼ë¡œ df2ë¥¼ í•©ì³ì£¼ëŠ” ë°©ì‹ ì¦‰ df1ì€ ëª¨ë‘ ì‚´ë ¤ì¤€ë‹¤.

     ê³ ê°ëª…        ìƒë…„ì›”ì¼  ì„±ë³„     ì—°ë´‰
0    ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì  3000ì›
1    ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì  2500ì›
2    ì†í¥ë¯¼  1993-06-12  ë‚¨ì  1500ì›
3    ê¹€ì—°ì•„  1988-10-16  ì—¬ì  2000ì›
4  ë§ˆì´í´ì¡°ë˜  1970-03-03  ë‚¨ì    NaN

In [8]:
pd.merge(df1, df2, how= 'right') # df2ì„ ê¸°ì¤€ìœ¼ë¡œ df1ì„ í•©ì³ì£¼ëŠ” ë°©ì‹ ì¦‰ df2ëŠ” ëª¨ë‘ ì‚´ë ¤ì¤€ë‹¤. ë¹ˆ ê°’ì€ nanê°’

     ê³ ê°ëª…        ìƒë…„ì›”ì¼   ì„±ë³„     ì—°ë´‰
0    ê¹€ì—°ì•„  1988-10-16   ì—¬ì  2000ì›
1    ë°•ì„¸ë¦¬  1980-01-02   ì—¬ì  3000ì›
2    ì†í¥ë¯¼  1993-06-12   ë‚¨ì  1500ì›
3    ì´ëŒ€í˜¸  1982-02-22   ë‚¨ì  2500ì›
4  íƒ€ì´ê±°ìš°ì¦ˆ         NaN  NaN  3500ì›

In [9]:
pd.merge(df1, df2, how= 'outer') # í•©ì§‘í•©. ëª¨ë‘ ì‚´ë ¤ì¤€ë‹¤.

     ê³ ê°ëª…        ìƒë…„ì›”ì¼   ì„±ë³„     ì—°ë´‰
0    ë°•ì„¸ë¦¬  1980-01-02   ì—¬ì  3000ì›
1    ì´ëŒ€í˜¸  1982-02-22   ë‚¨ì  2500ì›
2    ì†í¥ë¯¼  1993-06-12   ë‚¨ì  1500ì›
3    ê¹€ì—°ì•„  1988-10-16   ì—¬ì  2000ì›
4  ë§ˆì´í´ì¡°ë˜  1970-03-03   ë‚¨ì    NaN
5  íƒ€ì´ê±°ìš°ì¦ˆ         NaN  NaN  3500ì›

In [ ]:
pd.merge(df1, df2, left_on='ì´ë¦„', right_on='ê³ ê°ëª…') # ì»¬ëŸ¼ëª… ì§€ì •í•´ì£¼ë©´ ì´ë¦„ì´ ë‹¤ë¥´ì§€ë§Œ ê³µí†µëœ í‚¤ê°’ìœ¼ë¡œ ì„¤ì • ê°€ëŠ¥
pd.merge(df1, df2, left_on='ì´ë¦„', right_on='ê³ ê°ëª…'). drop('ê³ ê°ëª…', 1) # ë‹¤ì‚´ë ¤ë†¨ìœ¼ë‹ˆ í•˜ë‚˜ ì£½ì´ê¸°

1. ë°ì´í„°ì…‹ì´ ì „ë¶€ ë²”ì£¼í˜• ë°ì´í„°ë¼ ì–´ë–¤ ì¸ì‚¬ì´íŠ¸ë¥¼ ë‚´ê¸° ì–´ë ¤ì› ë‹¤. ë‹¤ë¥¸ ë°ì´í„°ë¥¼ ëŒì–´ì˜¤ì§€ ì•Šìœ¼ë©´ íŠ¹ë³„íˆ ë°œê²¬í•  ê²Œ ì—†ì—ˆê³  ì „ì²˜ë¦¬ í• ê²Œ ë§ì•„ ì´ë¦¬ì €ë¦¬ ëœ¯ì–´ë³´ëŠ” ê²ƒë§Œì´ í•  ìˆ˜ ìˆì—ˆë˜ ê²Œ ì•„ë‹ˆì—ˆë‚˜ ì‹¶ì€ ë„·í”Œë¦­ìŠ¤ ë°ì´í„°ì˜€ë‹¤. 
2. ë°ì´í„°ë¶„ì„ í”„ë¡œì„¸ìŠ¤ë¥¼ ì˜ ì•Œê³  ìˆë‹¤ê³  ìƒê°í–ˆëŠ”ë° ë‹¤ë¥¸ ì¡°ë“¤ì˜ ë°œí‘œë¥¼ ë³´ë©° ë§ì´ ê²¸ì†í•´ì¡Œë‹¤. ì´ë²ˆì— í•œ ë°©ì‹ì€ cdaë„ edaë„ ì•„ë‹Œ ë‹¤ ë’¤ì„ì¸ ë¶„ì„ì´ì—ˆë‹¤. ê°€ì„¤ì„ ì„¸ìš°ê³  ê²€ì¦í•˜ëŠëƒ, ë°ì´í„°ë¥¼ ëœ¯ì–´ë³´ê³  ì˜ë¯¸ìˆëŠ”ê±¸ ë°œê²¬í•˜ëŠëƒ ê°ˆë¦¼ê¸¸ì—ì„œ ìš•ì‹¬ì„ ë¶€ë ¸ë˜ ê²ƒ ê°™ë‹¤. 
3. ì¢‹ì€ ê²°ê³¼ë³´ë‹¤ í•¨ê»˜ í•˜ëŠ” íŒ€ì›ì´ ë” ì¤‘ìš”í•˜ë‹¤ ìƒê°í–ˆê³  ê·¸ëŸ¬ê¸°ìœ„í•´ ë‚´ ì‹¤ë ¥ì´ ë’·ë°›ì¹¨ë  ì •ë„ê°€ ë˜ì–´ì•¼í•œë‹¤ëŠ” ìƒê°ì€ ë³€í•˜ì§€ ì•ŠëŠ”ë‹¤. ì¢‹ì€ ê²°ê³¼ë¥¼ ì–»ëŠ”ë‹¤ë©´ ì •ë§ ì¢‹ê² ì§€ë§Œ ë°ì´í„°í†¤ë„, ì•„í”ˆê²ƒë„ ë‹¤ ëë‚˜ë‹ˆ ìƒˆë¡­ê²Œ ë³´ì´ëŠ” ê²Œ ë§ë‹¤. ì•ìœ¼ë¡œ ë‚´ê°€ ë‚˜ì•„ê°€ì•¼í•  ê¸¸ì€ ì–´ë””ì¸ê°€.
4. ì¢‹ì€ ë°ì´í„°ë€ ê³¼ì—° ë¬´ì—‡ì¼ê¹Œ? ë¶„ì„í•˜ê¸° ì¢‹ì€ê²Œ ì¢‹ì€ ë°ì´í„°ì¼ê¹Œ?